/*Mise en forme de chacun des 4 menus*/


.body-carte {
    height: 115em;
    font-family: 'Segoe Print',blokletters_normal;
    font-size: 1.8em;

    &.prem {
        height: 125em;
    }
}


.grande-carte {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.premiere_note {
    text-align: center;
    margin: 0;
    font-size: 1.6em;

    & h2 {
        margin-top: 2%;
        
    }
}

h1 {
    text-align: center;
    font-family: Arial,inter;
    font-size: 2.8em;
    margin-top: 7%;
}

h2 {
    font-size: 2.5em;
    font-weight: normal;
    text-align: center;
   }

h3 {
    font-size: 1.6em;
    margin: 0;
    margin-top: 5%;
}

h4 {
    font-size: 2.8em;
    margin: 0;
}

.fin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;

    & i {
        margin-right: 2%;
    }
}




.carte {
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    margin-bottom: 0;

    &.premier {
        padding: 5%;

        & .prix {
            font-weight: bold;
        }
    }

    &.deuxieme {
        font-weight: normal;
        font-family: bodonixt;

        & h3 {
            font-size: 1.4em;
        }

        & .titre_h3 { /*soulignement titre de meme couleur que le texte*/
            &.entree h3::after {
                background-color: rgb(199,116,18);
            }

            &.plat h3::after {
                background-color: rgb(165,103,153);
            }

            &.dessert h3::after {
                background-color: rgb(144,91,253);
            }
        }
    }

    &.deuxieme, &.troisieme, &.quatrieme {
        padding-right: 2%;
        padding-left: 2%;

        & .paragraphe {
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 2%;
        }

        & h3 {
            font-size: 1.2em;
            font-weight: normal;
        }
    }


    & .plats {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 6%;


        & h3 {  /*animation soulignement des h3*/
            background-color: none;
            position: relative;
            margin-left: auto;
            margin-right: auto;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: 4px;
                background-color: black;
                transition: width 1s ease;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }
}

.titre { /*alignement du titre au milieu de 2 traits*/
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 0;

    & .trait {
        width: 30%;

        & img {
            width: 100%;
        }

        & .t_droit {
            transform: scaleX(-1);
        }
    }

    & .titre_h3 {
        display: flex;
        width: 40%;
        align-items: center;

        & h3 {
            margin: auto;
        }
    }
}

.paragraphe {
    margin-bottom: 5%;
}

.choix {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 2%;
}

.nom {
    font-size: 1em;
    text-align: left;
    margin: 0;
}

.prix {
    text-align: right;
    font-size: 1.3em;
    margin: 0;
}


.trait_chic { /*changement de couleur des traits pour le chic a la francaise*/
    &.entree {
        filter: hue-rotate(137deg) brightness(120%);
    }

    &.plat {
        filter: hue-rotate(33deg) saturate(83%);
    }
}

.trait_delice { /*changement de couleur des traits pour le delice des papilles*/
    &.plat {
        filter: brightness(180%);
    }

    &.dessert {
        filter: brightness(360%);
    }
}

.deuxieme { /*changement couleur police et espacement lettres pour le chic a la francaise*/
    & .entree {
        color: rgb(199,116,18);
        letter-spacing: 0.05em;
    }

    & .plat {
        color: rgb(165,103,153);
        letter-spacing: 0.05em;
    }

    & .dessert {
        color: rgb(144,91,253);
        letter-spacing: 0.05em;
    }
}

.quatrieme {
    & .nom {
        font-size: 0.9em;
    }

    & .prix {
        font-size: 1.1em;
    }
}

/******MEDIA QUERIES*******/    /*TABLETTE*/
@media only screen and (max-width: 992px) {

    .body-carte {
        height: 85em;

        &.deux {
            height: 70em;
        }

        &.prem {
            height: 85em;
        }
    }

    h1 {
        font-size: 2em;
    }

    .carte {
        width: 85%;
    }

    .premiere_note {
        & h2 {
            font-size: 1.5em;
        }

        & i {
            font-size: 1.5em;
            margin-top: 5%;
        }
    }

    .carte .resto {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1em;
    }

    .fin {
        & h4, & i {
            font-size: 1.5em;
            margin-bottom: 5%;
        }
    }

    .nom {
        font-size: 0.8em;
    }

    .prix {
        font-size: 0.9em;
    }

    .deuxieme {
        & .titre_h3 {
            font-size: .7em;
            width: 50%;
        }

        & .trait {
            width: 25%;
        }

        & .nom {
            font-size: 0.7em;
        }

        & .prix {
            font-size: 0.8em;
        }
    }

    .troisieme {
        & .resto {
            font-size: 2em;
        }

        & .titre_h3 {
            font-size: .8em;
            width: 50%;
        }

        & .trait {
            width: 25%;
        }

        & .nom {
            font-size: 0.7em;
        }

        & .prix {
            font-size: 0.8em;
        }
    }

    .quatrieme {
        & .resto {
            font-size: 2.2em;
        }

        & .titre_h3 {
            font-size: .8em;
            width: 50%;
        }

        & .trait {
            width: 25%;
        }

        & .nom {
            font-size: 0.7em;
        }

        & .prix {
            font-size: 0.8em;
        }
    }
}

/******MEDIA QUERIES*******/ /*MOBILE*/
@media only screen and (max-width: 767px) {

    .body-carte {
        height: 100em;

        &.prem {
            height: 100em;
        }

        &.deux {
            height: 80em;
        }

        &.quatre {
            height: 110em;
        }
    }

    .premiere_note {
        & h2 {
            font-size: 1.2em;
        }
}


        h1 {
            font-size: 1.3em;
        }

        .deuxieme {
            letter-spacing: 0em;

            &.resto {
                font-size: 1.2em;
            }

            & .titre .titre_h3 {
                font-size: .65em;
                font-weight: bold;
            }

            & .prix {
                font-weight: bold;
            }

            & .titre {
                height: 7%;
                margin-top: 25%;
            }
        }

        .troisieme {
            &.resto {
                font-size: 1.2em;
            }

            & .titre .titre_h3 {
                font-size: .65em;
                font-weight: bold;
            }

            & .prix {
                font-weight: bold;
            }

            & .titre {
                height: 7%;
                margin-top: 25%;
            }

            & .trait_delice.t_droit { /*trait droit transforme en symetrie verticale et horizontale*/
                transform: scaleX(-1) scaleY(-1);
            }
        }

        .quatrieme {
            &.resto {
                font-size: 1.2em;
            }

            & .titre .titre_h3 {
                font-size: .8em;
                font-weight: bold;
            }

            & .prix {
                font-weight: bold;
            }

            & .titre {
                height: 7%;
                margin-top: 25%;
            }
        }

        .choix {
            flex-direction: column;
            margin-top: 8%;
        }

        .nom {
            font-size: 0.7em;
        }

        .prix {
            font-size: 0.8em;
        }

        .titre { /*titre mis en sandwich entre les 2 traits*/
            flex-direction: column;
            margin-top: 10%;

            & .trait {
                display: flex;
                height: 20%;
                width: 100%;
                align-items: center;
            }

            & .titre_h3 {
                font-size: 1em;
                width: auto;
            }
        }

        .fin {
            flex-direction: column;
            margin-top: 0%;
            align-items: center;

            & i {
                margin-right: 2%;
            }

            & h4 {
                text-align: center;
            }
        }
    }
