
@font-face {
	font-family: 'blokletters_gras';
	src: url('../polices/blokletters/gras/Blokletters-Viltstift-webfont.eot');
	src: url('../polices/blokletters/gras/Blokletters-Viltstift-webfont.eot?#iefix') format('embedded-opentype'), url('../polices/blokletters/gras/Blokletters-Viltstift-webfont.woff2') format('woff2'), url('../polices/blokletters/gras/Blokletters-Viltstift-webfont.woff') format('woff'), url('../polices/blokletters/gras/Blokletters-Viltstift-webfont.ttf') format('truetype'), url('../polices/blokletters/gras/Blokletters-Viltstift-webfont.svg#blokletters_viltstifviltstift') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'blokletters_normal';
	src: url('../polices/blokletters/normal/Blokletters-Balpen-webfont.eot');
	src: url('../polices/blokletters/normal/Blokletters-Balpen-webfont.eot?#iefix') format('embedded-opentype'), url('../polices/blokletters/normal/Blokletters-Balpen-webfont.woff2') format('woff2'), url('../polices/blokletters/normal/Blokletters-Balpen-webfont.woff') format('woff'), url('../polices/blokletters/normal/Blokletters-Balpen-webfont.ttf') format('truetype'), url('../polices/blokletters/normal/Blokletters-Balpen-webfont.svg#blokletters_balpenbalpen') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'bodonixt';
	src: url('../polices/bodoni/BodoniXT-webfont.eot');
	src: url('../polices/bodoni/BodoniXT-webfont.eot?#iefix') format('embedded-opentype'), url('../polices/bodoni/BodoniXT-webfont.woff2') format('woff2'), url('../polices/bodoni/BodoniXT-webfont.woff') format('woff'), url('../polices/bodoni/BodoniXT-webfont.ttf') format('truetype'), url('../polices/bodoni/BodoniXT-webfont.svg#bodonixtregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'courgette';
	src: url('../polices/courgette/courgette-regular-webfont.eot');
	src: url('../polices/courgette/courgette-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../polices/courgette/courgette-regular-webfont.woff') format('woff'), url('../polices/courgette/courgette-regular-webfont.ttf') format('truetype'), url('../polices/courgette/courgette-regular-webfont.svg#courgetteregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'croissant';
	src: url('../polices/croissant/croissantone-regular-webfont.eot');
	src: url('../polices/croissant/croissantone-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../polices/croissant/croissantone-regular-webfont.woff2') format('woff2'), url('../polices/croissant/croissantone-regular-webfont.woff') format('woff'), url('../polices/croissant/croissantone-regular-webfont.ttf') format('truetype'), url('../polices/croissant/croissantone-regular-webfont.svg#croissant_oneregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'dancing';
	src: url('../polices/dancing/ancingscript-regular-webfont.eot');
	src: url('../polices/dancing/dancingscript-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../polices/dancing/dancingscript-regular-webfont.woff2') format('woff2'), url('../polices/dancing/dancingscript-regular-webfont.woff') format('woff'), url('../polices/dancing/dancingscript-regular-webfont.ttf') format('truetype'), url('../polices/dancing/dancingscript-regular-webfont.svg#dancing_script_otregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'inter';
	src: url('../polices/inter/inter-regular-webfont.eot');
	src: url('../polices/inter/inter-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../polices/inter/nter-regular-webfont.woff2') format('woff2'), url('../polices/inter/inter-regular-webfont.woff') format('woff'), url('../polices/inter/inter-regular-webfont.ttf') format('truetype'), url('../polices/inter/inter-regular-webfont.svg#interregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'kaushan';
	src: url('../polices/kaushan/kaushanscript-regular-webfont.eot');
	src: url('../polices/kaushan/aushanscript-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../polices/kaushan/kaushanscript-regular-webfont.woff2') format('woff2'), url('../polices/kaushan/kaushanscript-regular-webfont.woff') format('woff'), url('../polices/kaushan/kaushanscript-regular-webfont.ttf') format('truetype'), url('../polices/kaushan/kaushanscript-regular-webfont.svg#kaushan_scriptregular') format('svg');
	font-weight: normal;
	font-style: normal;
}


$couleur-bandeau:rgb(87,156,135);
$couleur-logo:rgb(252,202,70);


@keyframes zoom-menu{
	0%{
		opacity:1;
		transform:scale(1);
	}
	60%{
		opacity:0.5;
	}
	100%{
		opacity:0.3;
		transform:scale(2);
	}
}

@keyframes mention{
	0%{transform:rotate(0deg);}
	3% {transform: rotate(-6deg);}
	4% {transform: rotate(6deg);}
	5%,100% {transform: rotate(0deg);}
}

@keyframes suspension{
	50% {
		opacity:0;
		transform:scale(0.7);
	}
}


body {
	font-family: Arial;
	display: flex;
	flex-direction: column;
	font-size: 1.2em;
	height: 140em;
	margin: 0;
}

@mixin mep-quatre-menus($couleur-fond: white,$couleur-debut-degrade: black,$couleur-fin-degrade: black,$couleur-menu: black,$police-resto: Arial, 
$police-menu:'Segoe Print') {
	background-color: $couleur-fond;

	
	& .resto {
		background: linear-gradient(45deg, $couleur-debut-degrade 0%,$couleur-fin-degrade 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-family: $police-resto;
		font-size:3em;
		}

	& .menu {
		font-size: 4em;
		line-height: 2em;
		color: $couleur-menu;
		font-family: $police-menu;
	}
}

a {
	text-decoration: none;

	&:visited{
		color: $couleur-logo;
	}
	&:link{
		color: $couleur-logo;
	}
	&:active{
		color: $couleur-logo;
	}
}



header {
	display: flex;
	width: 100%;
	justify-content: center;
}

img {
	width: 30%;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	
}

.prochain, footer, header {
	background-color: $couleur-bandeau;
	color: $couleur-logo;
	font-family:inter;
}

.quatre_menus {
	width: 76%;
	height: 72%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-left: 12%;
	padding-right: 12%;
	padding-top: 6%;
	padding-bottom: 0%;


	& a {
		box-shadow: 0 0 1em rgba(0,0,0,0.2);
		width: 47%;
		height: 45%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.accueil-menu {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align:center;
	overflow:hidden;
	

	&:hover>p {
		animation: zoom-menu 3s infinite ease-in-out alternate;
	}
}

i {
	font-size: 4em;
	background: linear-gradient(to right, rgb(241,88,97) 0%,rgb(247,143,106) 100%);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}

.resto {
	transform-origin:left;
	animation:degrade 10s;
	
	
}




.premier {
	$couleur-fond: rgb(252,223,219);
	@include mep-quatre-menus($couleur-fond);
	

	& .menu {
		text-transform: uppercase;
		font-weight:bold;
		display:inline-block;
		margin-top:10%;
		font-size:5em;
	}
	& .resto,& h2,& h4{
		font-family:'courgette';
		font-weight:bold;
		font-size:2.5em;
	}
}

.deuxieme {
	$couleur-fond: rgb(255,245,254);
	$couleur-debut-degrade: rgb(199,116,18);
	$couleur-fin-degrade: rgb(144,91,253);
	$couleur-menu: rgb(199,116,18);
	

	@include mep-quatre-menus($couleur-fond,$couleur-debut-degrade,$couleur-fin-degrade,$couleur-menu);

	& .menu {
		font-weight: bold;
		font-size: 5em;
		display: inline-block;
		transform: scaleX(1.4);
		letter-spacing: 0.05em;
		font-family:bodonixt;
	}

	& .resto {
		font-family: 'croissant';
		font-size: 2.5em;
	}
}

.troisieme {
	$couleur-fond: rgb(249,249,249);
	$couleur-debut-degrade: rgb(4,49,223);
	$couleur-fin-degrade: rgb(8,135,251);
	$couleur-menu: rgb(8,135,251);

	@include mep-quatre-menus($couleur-fond,$couleur-debut-degrade,$couleur-fin-degrade,$couleur-menu);

	& .resto {
		font-family: 'dancing';
		font-size:4em;
	}
}

.quatrieme {
	$couleur-fond: white;
	$couleur-debut-degrade: rgb(66,151,60);
	$couleur-fin-degrade: rgb(191,255,126);
	$couleur-menu: rgb(114,191,86);

	@include mep-quatre-menus($couleur-fond,$couleur-debut-degrade,$couleur-fin-degrade,$couleur-menu);

	& .resto {
		font-family: 'kaushan';
		font-size: 4em;
	}
}


footer {
	display: flex;
	width: 98%;
	position: fixed;
	bottom: 0px;
	font-size: 40px;
	align-items: center;
	justify-content: space-between;
	padding: 1%;

	& .mentions:hover {
		animation: mention 3s infinite;
	}

	& .contact:hover {
		animation: mention 3s infinite;
	}
}


.prochain {
	display: flex;
	margin: auto;
	margin-top:0;
	padding-left: 2%;
	padding-right: 2%;
	font-size: 2.5em;
	border-radius: 12px;
	line-height: 0em;
	flex-direction: row;
	
	& .points{
		margin-left:4%;
		margin-top:10%;
		height:0.4em;
		width:2.2em;
		
	}
	
	& span {
		display: inline-block;
		width: 0.4em;
		height: 0.4em;
		border-radius: 50%;
		background-color: $couleur-logo;
		animation: suspension 2s infinite ease-in-out;

		&:nth-child(2) {
			animation-delay: 0.4s;
		}

		&:nth-child(3) {
			animation-delay: 0.8s;
		}
	}
}

/******LES CARTES*******/

.body-carte {
	height: 115em;
	font-family: 'Segoe Print';
	font-size:1.8em;
	&.premier{
		height:125em;
	}
}


.grande-carte {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.premiere_note{
	text-align:center;
	margin:0;
	font-size:1.6em;
	&+h2{
		margin-top:2%;	
	}
}
	
h1{
	text-align:center;
	font-family:Arial,inter;
	font-size:2.8em;
	margin-top:7%;	
}

h2 {
	font-size: 3.2em;
	font-weight:normal;
	text-align:center;
}

h3 {
	font-size: 1.6em;
	margin:0;
	margin-top:5%;
}

h4{
	font-size:2.8em;
	margin:0;
}

.fin{
	display:flex;
	flex-direction:row;
	justify-content:center;
	margin-top:5%;
	& i{
		margin-right:2%;
	}
	}




.carte {
	box-shadow: 0 0 1em rgba(0,0,0,0.2);
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10%;
	margin-bottom: 0;

	&.premier {
		padding: 5%;

		& .prix {
			font-weight: bold;
		}
	}

	&.deuxieme {
		font-weight: normal;
		font-family: bodonixt;

		& h3 {
			font-size: 1.4em;
		}

		& .titre_h3{
			&.entree h3::after { /*soulignement titre de meme couleur que le texte*/
				background-color: rgb(199,116,18);
			}

			&.plat h3::after {
				background-color: rgb(165,103,153);
			}

			&.dessert h3::after {
				background-color: rgb(144,91,253);
			}
		}
	}

	&.deuxieme, &.troisieme, &.quatrieme {
		padding-right: 2%;
		padding-left: 2%;

		& .paragraphe {
			margin-left: 10%;
			margin-right: 10%;
			margin-top: 2%;
		}

		& h3 {
			font-size: 1.2em;
			font-weight: normal;
		}
	}


	& .plats {
		display: flex;
		flex-direction: column;
		position: relative;
		margin-bottom: 6%;


		& h3 {
			background-color: none;
			position: relative;
			margin-left: auto;
			margin-right: auto;

			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 0;
				height: 4px;
				background-color: black;
				transition: width 1s ease;
			}

			&:hover::after {
				width: 100%;
			}
		}
	}
}
.titre {
	display: flex;
	align-items: center;
	margin-top:5%;
	margin-bottom:0;
	
	& .trait {
		width: 30%;

		& img {
			width: 100%;
		}

		& .t_droit {
			transform: scaleX(-1);
		}
	}

	& .titre_h3 {
		display: flex;
		width: 40%;
		align-items: center;

		& h3 {
			margin: auto;
		}
	}
}
.paragraphe {
		margin-bottom: 5%;
}

.choix {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		margin-top: 2%;
}

.nom {
		font-size: 1em;
		text-align: left;
		margin: 0;
}

.prix {
		text-align: right;
		font-size: 1.3em;
		margin: 0;
}


.trait_chic {
	&.entree {
		filter: hue-rotate(137deg) brightness(120%);
	}

	&.plat {
		filter: hue-rotate(33deg) saturate(83%);
	}
}

.trait_delice {
	&.plat {
		filter: brightness(180%);
	}

	&.dessert {
		filter: brightness(360%);
	}
}

.deuxieme {
	& .entree {
		color: rgb(199,116,18);
		letter-spacing: 0.05em;
	}

	& .plat {
		color: rgb(165,103,153);
		letter-spacing: 0.05em;
	}

	& .dessert {
		color: rgb(144,91,253);
		letter-spacing: 0.05em;
	}
}

.quatrieme{
	& .nom{
		font-size:0.9em;
	}
	& .prix{
		font-size:1.1em;
	}
}		



/******MEDIA QUERIES*******/
@media only screen and (max-width: 992px) { /*tablette*/
body{
		height: 180em;
}

.accueil-menu{
	height:100%;
}

img {
	width: 40%;
}

	.quatre_menus {
		flex-direction: column;
		justify-content: space-around;
		padding-bottom: 5%;
		padding-top: 5%;
		height: 88%;
		flex-wrap: nowrap;
		align-items:center;

		& a {
			height: 22%;
			width: 95%;
		}

		& .resto {
			font-size: 2em;
		}

		& .menu {
			font-size: 2em;
		}
	}

	.prochain {
		font-size: 1.8em;
				
			
		& span {
			transform: scale(0.8);
		}
	}

footer {
		font-size: 30px;
		width: 90%;
		padding-right: 5%;
		padding-left:5%;
		}




	/*Tablette***CARTES*/
.body-carte {
	height: 85em;
			&.deuxieme {
				height: 70em;
			}
			&.premier{
				height:85em;
			}
}

h1 {
		font-size: 2em;
}

		.carte {
			width: 85%;
		}

		.premiere_note {
			& + h2 {
				font-size: 1.5em;
			}

			& i {
				font-size: 1.5em;
				margin-top: 5%;
			}
		}

		.carte .resto {
			font-size: 1.5em;
		}

		h3 {
			font-size: 1em;
		}

		.fin {
			& h4, & i {
				font-size: 1.5em;
				margin-bottom: 5%;
			}
		}

		.nom {
			font-size: 0.8em;
		}

		.prix {
			font-size: 0.9em;
		}

		.deuxieme {
			& .titre_h3 {
				font-size: .7em;
				width: 50%;
			}

			& .trait {
				width: 25%;
			}

			& .nom {
				font-size: 0.7em;
			}

			& .prix {
				font-size: 0.8em;
			}
		}

		.troisieme {
			& .resto {
				font-size: 2em;
			}

			& .titre_h3 {
				font-size: .8em;
				width: 50%;
			}

			& .trait {
				width: 25%;
			}

			& .nom {
				font-size: 0.7em;
			}

			& .prix {
				font-size: 0.8em;
			}
		}

		.quatrieme {
			& .resto {
				font-size: 2.2em;
			}

			& .titre_h3 {
				font-size: .8em;
				width: 50%;
			}

			& .trait {
				width: 25%;
			}

			& .nom {
				font-size: 0.7em;
			}

			& .prix {
				font-size: 0.8em;
			}
		}
	}



@media only screen and (max-width: 767px) { /*mobile*/

	body {
		height: 100em;
	}										
											
	img {
		width: 50%;
	}

	header{
		height:3.5%;
	}

	.quatre_menus {
		/*justify-content: center;*/
		/*padding-left: 5%;
		padding-right: 5%;
		width: 90%;*/
		/*padding-bottom: 5%;
		padding-top: 5%;*/
		height: 88%;
	/*	border:2px solid pink;*/
		/*margin-right:2%;
		margin-left:1%;*/


		& a {
			/*height: 22%;
			width: 100%;
			margin-bottom: 15%;*/
			border:2px dotted pink;
		}

		& .resto {
			font-size: 2em;
		}

		& .menu {
			font-size: 2em;
		}
	}

		.prochain {
			font-size: 1.4em;
		}

		footer {
			font-size: 17px;
			width: 94%;
			padding-right: 3%;
			padding-left: 3%;
		}

	/*Mobile***CARTES*/
	.body-carte {
		height: 100em;
		&.premier{
			height:100em;
		}
		&.deuxieme{
			height:90em;
		}
		}


		h1 {
			font-size: 1.3em;
		}

	.deuxieme {
		letter-spacing:0em;

		&.resto {
			font-size: 1.2em;
		}

		& .titre .titre_h3 {
			font-size: .65em;
			font-weight:bold;
		}
		& .prix{
			font-weight:bold;
		}
		& .titre{
			height:7%;
			margin-top:25%;
		}
	}

	.troisieme {
		&.resto {
			font-size: 1.2em;
		}

		& .titre .titre_h3 {
			font-size: .65em;
			font-weight: bold;
		}

		& .prix {
			font-weight: bold;
		}

		& .titre {
			height: 7%;
			margin-top: 25%;
		}

		& .trait_delice.t_droit {
			transform: scaleX(-1) scaleY(-1);
		}
		}

		.quatrieme {
			&.resto {
				font-size: 1.2em;
			}

			& .titre .titre_h3 {
				font-size: .8em;
				font-weight: bold;
			}

			& .prix {
				font-weight: bold;
			}

			& .titre {
				height: 7%;
				margin-top: 25%;
			}

			& .trait_delice.t_droit {
				transform: scaleX(-1) scaleY(-1);
			}
		}









		.choix {
			flex-direction: column;
			margin-top: 8%;
		}

		.nom {
			font-size: 0.7em;
			/*width:100%;*/
		}

		.prix {
			font-size: 0.8em;
		}

		.titre {
			flex-direction: column;
			margin-top: 10%;
			/*border:4px dotted blue;*/
			& .trait {
				display: flex;
				/*border: 3px solid green;*/
				height: 20%;
				width: 100%;
				align-items: center;
			}

			& .titre_h3 {
				font-size: 1em;
				/*border: 3px dotted pink;*/
				width: auto;
				/*margin-top:10%;*/
			}
		}

		.fin {
			flex-direction: column;
			margin-top: 0%;
			align-items: center;

			& i {
				margin-right: 2%;
			}

			& h4 {
				text-align: center;
			}
		}
	}