
/*@font-face {
	font-family: 'acme';
	src: url('acme/acme-regular-webfont-webfont.eot');
	src: url('acme/acme-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'), url('acme/acme-regular-webfont-webfont.woff') format('woff'), url('acme/acme-regular-webfont-webfont.ttf') format('truetype'), url('acme/acme-regular-webfont-webfont.svg#webfontregular') format('svg');
	font-weight: normal;
	font-style: normal;
}*/

$couleur-bandeau:rgb(87,156,135);
$couleur-logo:rgb(252,202,70);


@keyframes zoom-menu{
	0%{
		opacity:0;
		transform:scale(0);
	}
	30%{
		opacity:0.2;
	}
	100%{
		opacity:1;
		transform:scale(1);
	}
}

@keyframes mention{
	0%{transform:rotate(0deg);}
	3% {transform: rotate(-6deg);}
	4% {transform: rotate(6deg);}
	5%,100% {transform: rotate(0deg);}
}

@keyframes suspension{
	50% {
		opacity:0;
		transform:scale(0.7);
	}
}


body {
	font-family: Arial;
	display: flex;
	flex-direction: column;
	font-size: 1.2em;
	height: 140em;
	margin: 0;
}

@mixin mep-quatre-menus($couleur-fond: white,$couleur-debut-degrade: black,$couleur-fin-degrade: black,$couleur-menu: black,$police-resto: Arial,
$police-menu: Arial) {
	background-color: $couleur-fond;

	& p{
		animation:zoom-menu 5s ease-out infinite;
	}
	
	
	& .resto {
		background: linear-gradient(45deg, $couleur-debut-degrade 0%,$couleur-fin-degrade 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-family: $police-resto;
		}

	& .menu {
		font-size: 4em;
		line-height: 2em;
		color: $couleur-menu;
		font-family: $police-menu;
	}
}
a {
	text-decoration: none;

	&:visited{
		color: $couleur-logo;
	}
	&:link{
		color: $couleur-logo;
	}
	&:active{
		color: $couleur-logo;
	}
}



header {
	display: flex;
	width: 100%;
	justify-content: center;
}

img {
	width: 30%;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	
}

.prochain, footer, header {
	background-color: $couleur-bandeau;
	color: $couleur-logo;
}

.quatre_menus {
	width: 76%;
	height: 72%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-left: 12%;
	padding-right: 12%;
	padding-top: 6%;
	padding-bottom: 0%;

	& a{
	box-shadow: 0 0 1em rgba(0,0,0,0.2);
	width: 47%;
	height: 45%;
	display: flex;
	align-items: center;
	justify-content: center;
	}
}

/*bloc ci-dessous a supprimer ensuite, apres les 4 a et 4 liens*/
/*.accueil-menu {
	box-shadow: 0 0 1em rgba(0,0,0,0.2);
	width: 0%;
	height: 45%;
	display: flex;
	align-items: center;
	justify-content: center;

}*/

.accueil-menu{
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	
	
	& p {
	text-align: center;
	}	
}

i {
	font-size: 4em;
	background: linear-gradient(to right, rgb(241,88,97) 0%,rgb(247,143,106) 100%);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}

.resto {
	font-size: 2em;
	transform-origin:left;
	animation:degrade 10s;
	
	
}




.premier {
	$couleur-fond: rgb(252,223,219);
	@include mep-quatre-menus($couleur-fond);
	
	& .menu{
	text-transform:uppercase;
	}
}

.deuxieme {
	$couleur-fond: rgb(255,245,254);
	$couleur-debut-degrade: rgb(199,116,18);
	$couleur-fin-degrade: rgb(144,91,253);
	$couleur-menu: rgb(199,116,18);

	@include mep-quatre-menus($couleur-fond,$couleur-debut-degrade,$couleur-fin-degrade,$couleur-menu)
}

.troisieme {
	$couleur-fond: rgb(249,249,249);
	$couleur-debut-degrade: rgb(6,69,229);
	$couleur-fin-degrade: rgb(8,135,251);
	$couleur-menu: rgb(8,135,251);

	@include mep-quatre-menus($couleur-fond,$couleur-debut-degrade,$couleur-fin-degrade,$couleur-menu)
}

.quatrieme {
	$couleur-fond:white;
	$couleur-debut-degrade: rgb(66,151,60);
	$couleur-fin-degrade: rgb(191,255,126);
	$couleur-menu: rgb(66,151,60);

	@include mep-quatre-menus($couleur-fond,$couleur-debut-degrade,$couleur-fin-degrade,$couleur-menu)
}


footer {
	display: flex;
	width: 98%;
	position: fixed;
	bottom: 0px;
	font-size: 1.5em;
	align-items: center;
	justify-content: space-between;
	padding: 1%;

	& div{
		animation:mention 3s infinite;
	}
}


.prochain {
	display: flex;
	margin: auto;
	padding-left: 2%;
	padding-right: 2%;
	font-size: 1.6em;
	border-radius: 12px;
	line-height: 0em;
	flex-direction: row;

	& span {
		display: inline-block;
		width: 0.4em;
		height: 0.4em;
		border-radius: 50%;
		position: relative;
		top: 42%;
		left: 5%;
		margin: 0.1em;
		background-color: $couleur-logo;
		animation: suspension 2s infinite ease-in-out;

		&:nth-child(3) {
			animation-delay: 0.4s;
		}

		&:nth-child(4) {
			animation-delay: 0.8s;
		}
	}
}

/******LES CARTES*******/

.body-carte{
	height:100em;
	
}


.grande-carte {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 2px dotted green;

	& .premier p{
		animation: zoom-menu paused;
		text-align:center;
	}
	
}

	
h1{
	text-align:center;
}



.carte {
	box-shadow: 0 0 1em rgba(0,0,0,0.2);
	width: 70%;
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
	justify-content: center;
	padding: 5%;
	margin-bottom: 0;


	& .plats {
		display: flex;
		flex-direction: column;
		position: relative;
		border: 1px solid blue;

		& span {
			float: right;
		}

		& h3 {
			background-color: none;
			position: relative;
			margin-left: auto;
			margin-right: auto;
			

			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 0;
				height: 2px;
				background-color: black;
				transition: width 1s ease;
			}

			&:hover::after {
				width: 100%;
			}
		}

		& .trait {
			position: absolute;
			left: -3%;
			top: -15%;
			width: 107%;
			transform: scaleY(0.3);
			
			
		}
	}

	& i, h2, h3, h4 {
		text-align: center;
	}




	& ul {
		text-align: left;
		border: 1px solid red;
		list-style-type: none;
		padding: 0;
	}
}



@media only screen and (max-width: 992px)
{}

@media only screen and (max-width: 767px) {
}