
@font-face {
	font-family: 'blokletters_gras';
	src: url('../polices/blokletters/gras/Blokletters-Viltstift-webfont.eot');
	src: url('../polices/blokletters/gras/Blokletters-Viltstift-webfont.eot?#iefix') format('embedded-opentype'), url('../polices/blokletters/gras/Blokletters-Viltstift-webfont.woff2') format('woff2'), url('../polices/blokletters/gras/Blokletters-Viltstift-webfont.woff') format('woff'), url('../polices/blokletters/gras/Blokletters-Viltstift-webfont.ttf') format('truetype'), url('../polices/blokletters/gras/Blokletters-Viltstift-webfont.svg#blokletters_viltstifviltstift') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'blokletters_normal';
	src: url('../polices/blokletters/normal/Blokletters-Balpen-webfont.eot');
	src: url('../polices/blokletters/normal/Blokletters-Balpen-webfont.eot?#iefix') format('embedded-opentype'), url('../polices/blokletters/normal/Blokletters-Balpen-webfont.woff2') format('woff2'), url('../polices/blokletters/normal/Blokletters-Balpen-webfont.woff') format('woff'), url('../polices/blokletters/normal/Blokletters-Balpen-webfont.ttf') format('truetype'), url('../polices/blokletters/normal/Blokletters-Balpen-webfont.svg#blokletters_balpenbalpen') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'bodonixt';
	src: url('../polices/bodoni/BodoniXT-webfont.eot');
	src: url('../polices/bodoni/BodoniXT-webfont.eot?#iefix') format('embedded-opentype'), url('../polices/bodoni/BodoniXT-webfont.woff2') format('woff2'), url('../polices/bodoni/BodoniXT-webfont.woff') format('woff'), url('../polices/bodoni/BodoniXT-webfont.ttf') format('truetype'), url('../polices/bodoni/BodoniXT-webfont.svg#bodonixtregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'courgette';
	src: url('../polices/courgette/courgette-regular-webfont.eot');
	src: url('../polices/courgette/courgette-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../polices/courgette/courgette-regular-webfont.woff') format('woff'), url('../polices/courgette/courgette-regular-webfont.ttf') format('truetype'), url('../polices/courgette/courgette-regular-webfont.svg#courgetteregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'croissant';
	src: url('../polices/croissant/croissantone-regular-webfont.eot');
	src: url('../polices/croissant/croissantone-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../polices/croissant/croissantone-regular-webfont.woff2') format('woff2'), url('../polices/croissant/croissantone-regular-webfont.woff') format('woff'), url('../polices/croissant/croissantone-regular-webfont.ttf') format('truetype'), url('../polices/croissant/croissantone-regular-webfont.svg#croissant_oneregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'dancing';
	src: url('../polices/dancing/ancingscript-regular-webfont.eot');
	src: url('../polices/dancing/dancingscript-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../polices/dancing/dancingscript-regular-webfont.woff2') format('woff2'), url('../polices/dancing/dancingscript-regular-webfont.woff') format('woff'), url('../polices/dancing/dancingscript-regular-webfont.ttf') format('truetype'), url('../polices/dancing/dancingscript-regular-webfont.svg#dancing_script_otregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'inter';
	src: url('../polices/inter/inter-regular-webfont.eot');
	src: url('../polices/inter/inter-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../polices/inter/nter-regular-webfont.woff2') format('woff2'), url('../polices/inter/inter-regular-webfont.woff') format('woff'), url('../polices/inter/inter-regular-webfont.ttf') format('truetype'), url('../polices/inter/inter-regular-webfont.svg#interregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'kaushan';
	src: url('../polices/kaushan/kaushanscript-regular-webfont.eot');
	src: url('../polices/kaushan/aushanscript-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../polices/kaushan/kaushanscript-regular-webfont.woff2') format('woff2'), url('../polices/kaushan/kaushanscript-regular-webfont.woff') format('woff'), url('../polices/kaushan/kaushanscript-regular-webfont.ttf') format('truetype'), url('../polices/kaushan/kaushanscript-regular-webfont.svg#kaushan_scriptregular') format('svg');
	font-weight: normal;
	font-style: normal;
}


$couleur-bandeau:rgb(87,156,135);
$couleur-logo:rgb(252,202,70);


@keyframes zoom-menu{
	0%{
		opacity:1;
		transform:scale(1);
	}
	60%{
		opacity:0.5;
	}
	100%{
		opacity:0.3;
		transform:scale(2);
	}
}

@keyframes mention{
	0%{transform:rotate(0deg);}
	3% {transform: rotate(-6deg);}
	4% {transform: rotate(6deg);}
	5%,100% {transform: rotate(0deg);}
}

@keyframes suspension{
	50% {
		opacity:0;
		transform:scale(0.7);
	}
}


body {
	font-family: Arial;
	display: flex;
	flex-direction: column;
	font-size: 1.2em;
	height: 140em;
	margin: 0;
}

@mixin mep-quatre-menus($couleur-fond: white,$couleur-debut-degrade: black,$couleur-fin-degrade: black,$couleur-menu: black,$police-resto: Arial, 
$police-menu:'Segoe Print') {
	background-color: $couleur-fond;

	
	& .resto {
		background: linear-gradient(45deg, $couleur-debut-degrade 0%,$couleur-fin-degrade 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-family: $police-resto;
		font-size:3em;
		}

	& .menu {
		font-size: 4em;
		line-height: 2em;
		color: $couleur-menu;
		font-family: $police-menu;
	}
}

a {
	text-decoration: none;

	&:visited{
		color: $couleur-logo;
	}
	&:link{
		color: $couleur-logo;
	}
	&:active{
		color: $couleur-logo;
	}
}



header {
	display: flex;
	width: 100%;
	justify-content: center;
}

img {
	width: 30%;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	
}

.prochain, footer, header {
	background-color: $couleur-bandeau;
	color: $couleur-logo;
	font-family:inter;
}

.quatre_menus {
	width: 76%;
	height: 72%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-left: 12%;
	padding-right: 12%;
	padding-top: 6%;
	padding-bottom: 0%;

	

	& a {
		box-shadow: 0 0 1em rgba(0,0,0,0.2);
		width: 47%;
		height: 45%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.accueil-menu {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align:center;
	overflow:hidden;
	

	&:hover>p {
		animation: zoom-menu 3s infinite ease-in-out alternate;
	}
}

i {
	font-size: 4em;
	background: linear-gradient(to right, rgb(241,88,97) 0%,rgb(247,143,106) 100%);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}

.resto {
	transform-origin:left;
	animation:degrade 10s;
	
	
}




.premier {
	$couleur-fond: rgb(252,223,219);
	@include mep-quatre-menus($couleur-fond);
	

	& .menu {
		text-transform: uppercase;
		font-weight:bold;
		display:inline-block;
		margin-top:10%;
		font-size:5em;
	}
	& .resto{
		font-family:'courgette';
		font-weight:bold;
	}
}

.deuxieme {
	$couleur-fond: rgb(255,245,254);
	$couleur-debut-degrade: rgb(199,116,18);
	$couleur-fin-degrade: rgb(144,91,253);
	$couleur-menu: rgb(199,116,18);

	@include mep-quatre-menus($couleur-fond,$couleur-debut-degrade,$couleur-fin-degrade,$couleur-menu);

	& .menu {
		font-family: 'bodonixt';
		font-weight:bold;
		font-size:5em;
		display:inline-block;
		transform:scaleX(1.4);
		letter-spacing:0.05em;
	}

	& .resto {
		font-family: 'croissant';
	}
}

.troisieme {
	$couleur-fond: rgb(249,249,249);
	$couleur-debut-degrade: rgb(6,69,229);
	$couleur-fin-degrade: rgb(8,135,251);
	$couleur-menu: rgb(8,135,251);

	@include mep-quatre-menus($couleur-fond,$couleur-debut-degrade,$couleur-fin-degrade,$couleur-menu);

	& .resto {
		font-family: 'dancing';
		font-size:4em;
	}
}

.quatrieme {
	$couleur-fond: white;
	$couleur-debut-degrade: rgb(66,151,60);
	$couleur-fin-degrade: rgb(191,255,126);
	$couleur-menu: rgb(114,191,86);

	@include mep-quatre-menus($couleur-fond,$couleur-debut-degrade,$couleur-fin-degrade,$couleur-menu);

	& .resto {
		font-family: 'kaushan';
		font-size: 4em;
	}
}


footer {
	display: flex;
	width: 98%;
	position: fixed;
	bottom: 0px;
	font-size: 1.5em;
	align-items: center;
	justify-content: space-between;
	padding: 1%;

	&:hover>div{
		animation:mention 3s infinite;
	}
}


.prochain {
	display: flex;
	margin: auto;
	padding-left: 2%;
	padding-right: 2%;
	font-size: 1.6em;
	border-radius: 12px;
	line-height: 0em;
	flex-direction: row;

	& span {
		display: inline-block;
		width: 0.4em;
		height: 0.4em;
		border-radius: 50%;
		position: relative;
		top: 42%;
		left: 5%;
		margin: 0.1em;
		background-color: $couleur-logo;
		animation: suspension 2s infinite ease-in-out;

		&:nth-child(3) {
			animation-delay: 0.4s;
		}

		&:nth-child(4) {
			animation-delay: 0.8s;
		}
	}
}

/******LES CARTES*******/

.body-carte{
	height:100em;
	
}


.grande-carte {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 2px dotted green;

	& .premier p{
		animation: zoom-menu paused;
		text-align:center;
	}
	
}

	
h1{
	text-align:center;
}

li{
	font-family:'Segoe Print';
}

.carte {
	box-shadow: 0 0 1em rgba(0,0,0,0.2);
	width: 70%;
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
	justify-content: center;
	padding: 5%;
	margin-bottom: 0;


	& .plats {
		display: flex;
		flex-direction: column;
		position: relative;
		border: 1px solid blue;

		& span {
			float: right;
		}

		& h3 {
			background-color: none;
			position: relative;
			margin-left: auto;
			margin-right: auto;

			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 0;
				height: 2px;
				background-color: black;
				transition: width 1s ease;
			}

			&:hover::after {
				width: 100%;
			}
		}

		& .trait_g {
			position: absolute;
			left: -0.5%;
			width: 40%;

			&.trait_chic {
				left: -1%;
			}
		}

		& .trait_d {
			position: absolute;
			left: 61%;
			width: 40%;

			&.trait_chic, &.trait_delice, &.trait_palette {
				transform: scaleX(-1);
			}

			&.trait_delice, &.trait_palette {
				left: 60%;
			}
		}

		& .entree {
			top: -6%;

			&.trait_chic {
				filter: hue-rotate(137deg) brightness(120%);
			}
		}

		& .plat {
			top: 30%;

			&.trait_delice {
				filter: brightness(180%);
			}

			&.trait_chic {
				
				filter: hue-rotate(33deg) saturate(83%);
			}
		}

		& .dessert {
			top: 60%;

			&.trait_delice {
				filter: brightness(360%);
			}
		}
		/*filter: invert(48%) sepia(50%) saturate(3207%) hue-rotate(20deg);*/
		& .trait_note { /*Exception pour diminuer l'image du trait de gauche dans menu note enchantee*/
			height: 3%;
		}




		& ul {
			text-align: left;
			border: 1px solid red;
			list-style-type: none;
			padding: 0;
		}
	}

	& i, h2, h3, h4 {
		text-align: center;
	}
}



	@media only screen and (max-width: 992px) {
	}

	@media only screen and (max-width: 767px) {
	}